
.header{
	min-height: 40px;
	background: #2e3639;
	/*#222*/
}

.header h1 {
font-family: 'Rokkitt' !important;
font-style: normal;
font-weight: 400;
font-size: 3em;
line-height: 1.1em;
text-align: center;

	margin: 0 auto;

	padding-top: 5px;
	padding-bottom: 5px;
	color: #f9f9f9;


	
	

	
	
	
	
}

.smalll{
	text-align: center;
	font-size: 80%;
}
.inner-body ul{
	padding-left: 40px;


}

.header span {
	opacity: 0.95;
}
.b-heading{}
.b-heading h1 {
	font-family: 'Rokkitt' !important;
	font-style: normal;
	font-weight: 400;

	font-size: 5.2em;
	line-height: 1.1em;
	margin-bottom: 20px;
	text-align: center;
}


.subhead{
	max-width: 720px;
	font-size: 1.5em;
	margin: 0 auto;
	text-align: center;
	
}

.subhead p {
	line-height: 1.4em;

}

.quote{
	text-align: center;
	margin: 0 auto;
}

.noone{
	text-decoration: none;
}

.main-body{ max-width: 650px;
	padding: 50px;

	margin: 0 auto;

}

.drag-right{
	position: relative;
	right: 80px;
}
body{
	background-color: #F5EFE6;
}




.container{
	
	
	
	
}

.inner-body{
	border: 1px solid #ddd;
	margin-top: 20px;
	min-height: 900px;
	background-color: #FDFDFD;
	font-family: georgia, "courier new", courier, monospace;
	line-height: 1.4em;
	font-size: 95%;
}
